body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

.navbar {
  background-color: #e0ebe8;
  padding: 3% 7%;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
font-family: "Montserrat";
font-weight: 300;
font-size: 1.2rem;
color: #99b19c !important;
}

.top-container {
  background-color: #e0ebe8;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 50px;
}

.bottom-container {
  background-color: #e0ebe8;
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #45b29a;
}

.contact-me {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;;
  color: #45b29a;
  padding-top: 1rem;
}

.bottom-cloud {
  position: absolute;
  top: 250px;
  left: 200px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Clicker Script', cursive;
  font-size: 562.5%;
  color: #45b29a;
  line-height: 2cm;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  color: #1e836c;
}

h3 {
  color: #45b29a;
  font-size: 2rem;
}

#desc {
  font-size: 1.5rem;
  margin: 0 auto 10px auto;
  color: #45b29a;
  padding: 25px 0 25px 0;
  font-weight: 400;
}

p {
  font-family: 'Montserrat' sans-serif;
  line-height: 1.42857143;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 75px;
}

.profile-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.skill1 {
  height: 200px;
  width: 200px;
  float: left;
  margin-right: 100px;
}

.skill2 {
  height: 200px;
  width: 200px;
  float: right;
  margin-left: 100px;
}

.btn {
  line-height: 2cm;
}

footer {
  background-color: #e0ebe8;
}

.fa-linkedin-in {
  margin: 0 30px 10px 30px;
  color: #2867B2;
}

.fa-twitter {
  margin: 0 30px 10px 30px;
  color: #1DA1F2;
}

.fa-instagram {
  margin: 0 30px 10px 30px;
  color: #E1306C;
}

.fa-envelope{
  margin: 0 30px 10px 30px;
  color: #d44638;
}

.hi {
  color: #45b29a;
  font-size: 28px;
}

.desc {
  color: #545454;
  font-weight: 300;
  margin-bottom: 10px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
  border-color: #ededed;
  margin: 20px auto 20px auto;
}

.skill-row {
  width: 50%;
  margin: auto;
  text-align: left;
}

.hire-me {
  width: 50%;
  margin: auto;
}

.profile {
  width: 50%;
  margin: auto;
}
